<h1>Student #<%= @student.id %></h1>

<div>
  <strong>Name</strong>:<br />
  <p><%= @student.name %></p>
</div>
<div>
  <strong>Email</strong>:<br />
  <p><%= @student.email %></p>
</div>
<div>Student's Courses</div>
<ul>
  <% @student.course_students.each do |course_students| %>
  <li><%= course_students.course.name %></li>
  <% end %>
</ul>
<button><a href="/students/<%= @student.id %>/edit">Edit</a></button>
<button><a href="/students/<%= @student.id %>/destroy">Destroy</a></button>
