<h1>Enrollment #<%= @enrollment.id %></h1>

<div>
  <strong>Course</strong>:<br />
  <p><%= @enrollment.course_id %></p>
</div>
<div>
  <strong>Student</strong>:<br />
  <p><%= @enrollment.student_id %></p>
</div>

<button><a href="/enrollments/<%= @enrollment.id %>/edit">Edit</a></button>
<button><a href="/enrollments/<%= @enrollment.id %>/destroy">Destroy</a></button>
